.container {
	width: 100%;
	max-height: 60vh;
	margin: 0;
	padding: 0;
	display: flex;

	@media only screen and (max-width: 767px) {
		flex-direction: column-reverse;
	}
	@media only screen and (min-width: 768px) {
		min-height: 100vh;
	}
}

.map-wrapper {
	width: 50%;
	height: 100vh;
	div {
		&:first-of-type {
			height: inherit !important;
			max-width: 100%;
		}
	}
}
