@import "../../../styles/global.scss";

.station {
	display: flex;
	justify-content: space-between;
	border: 1px solid $station-border-grey;
	box-shadow: 0px 1px 1px $station-border-shadow;
	padding: 30px 40px;

	&__location {
		max-width: 75%;
		min-width: 50%;
	}

	&__info {
		max-width: 35%;
	}

	&__address {
		font-size: 22px;
	}

	&__email {
		font-size: 17px;
		text-align: center;
	}
}

h2 {
	color: $text-dark;
	font-family: $subtitle-text;
	font-size: 34px;
	margin: 0 auto 5px;
}

p {
	color: #6f6f6f;
	font-family: $sm-text;
	margin: 0 auto;
}
