$header-overlay: rgba(51, 51, 51, 0.8);

$white: #ffffff;
$text-dark: #292929;
$banner-red: #d13833;
$border-grey: #0000001a;
$background-grey: #f5f5f5;
$station-border-grey: #0000000d;
$station-border-shadow: #d5d5d5;
$station-details-grey: #6f6f6f;
$dark-red: #981c18;

$title-text: "Raleway Black", Helvetica, sans-serif;
$subtitle-text: "Raleway Extrabold", helvetica, sans-serif;
$sm-text: "Raleway Medium", Helvetica, sans-serif;

$list-border: 1px solid gray;
$item-border: 1px solid black;
$selected-item: lighten(
	$color: gray,
	$amount: 40,
);
