@import "../../../styles/global.scss";

.header {
	@include w-h(100%, 50vh);
	margin: 50px 0 0;

	&__banner {
		height: 100%;
	}

	&__img {
		height: 100%;
		width: 100%;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(50vh);
	width: 100%;
	margin: 50px 0 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $header-overlay;
	color: $white;
}

.text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__title {
		text-transform: uppercase;
		text-align: center;
		font-family: $title-text;
		font-size: 55px;
		width: 55%;
		margin: 15px auto 36px;

		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
	&__sub-title {
		font-family: $subtitle-text;
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
		width: 65%;
	}
}
