@import "../styles/global.scss";

.container {
	@include w-h(calc(100% - 100px), 100%);
	position: relative;
	z-index: 100;
	background-color: $white;
	max-width: 1000px;
	margin: auto;
	left: 0;
	right: 0;
	top: -250px;
	bottom: 0;
	padding: 50px auto;
}

.loading-container {
	@include w-h(100%, 440px);
	background-color: lightgray;
}
