@import "../../../../styles/global.scss";

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $header-overlay;
	color: white;
}
