@import "../../../styles/global.scss";
.menu {
	@include w-h(100%, 50px);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	top: 0;
	background-color: $text-dark;
	color: $white;
}

.nav-btns {
	width: 50%;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}
