@import "../../../styles/global.scss";
.footer {
	height: 20vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	&.dark {
		background-color: $text-dark;
		color: $white;

		a {
			color: $white;
		}
	}

	&.light {
		background-color: $white;
		color: $text-dark;

		a {
			color: $text-dark;
		}
	}

	a {
		&:hover {
			color: $red;
		}
	}
}
