@import "../../../styles/global.scss";
.footer {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $text-dark;
	color: $white;

	&-extended {
		height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $text-dark;
		color: $white;
	}
}
