@import "../../styles/global.scss";

.map-container {
	@include w-h(100%);

	@media only screen and (max-width: 767px) {
		height: 300px;
		max-height: 300px;
		width: 100%;
	}

	@media only screen and (min-width: 768px) {
		min-height: 100vh;
	}
}
