@import "../../styles/global.scss";

.map {
	@include w-h(100%, 440px);
	max-width: 100%;
	max-height: 440px;
	background-color: lightgray;
	div {
		&:first-of-type {
			height: inherit !important;
		}
	}
}

.credit {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-top: 15px;

	p {
		margin: 5px 15px 0 0;
		color: $text-dark;
	}
}
